#!/usr/bin/make -f
# GXDE Display Manager - Debian packaging

export DH_VERBOSE = 1
export DH_ALWAYS_EXCLUDE = .bazel-root

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DBUILD_WITH_QT6=ON \
		-DBUILD_CLASSIC_GREETER=ON \
		-DBUILD_MAN_PAGES=OFF \
		-DINSTALL_PAM_CONFIGURATION=ON \
		-DUID_MIN=1000 \
		-DUID_MAX=60000

override_dh_auto_install:
	dh_auto_install --buildsystem=cmake --destdir=debian/gxdm

override_dh_auto_clean:
	dh_auto_clean --buildsystem=cmake

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start --no-stop-on-upgrade gxdm.service
